<% provide(:title, 'Социальная защита населения') %>
<div class="hero-unit center">
<p id="notice"><%= notice %></p>

<%= content_tag(:h3, "Социальная защита населения", class: "center_h3" ) %>

<table>
  <% @social_services.each do |social_service| %>
    <tr>
    <% if sign_in_admin? || sign_in_editor? %>
      <td>   <%= link_to social_service.name.html_safe, social_service, class: "href" %></td>
      <td><p><%= link_to 'Редактировать', edit_social_service_path(social_service) %></p></td>
      <td><p><%= link_to 'Удалить', social_service, method: :delete, data: { confirm: 'Вы уверены, что хотите удалить?' } %></p></td>
    <% end %>
    </tr>
  <% end %>
</table>

<br>
<% if sign_in_admin? || sign_in_editor? %>
  <%= link_to 'Добавить', new_social_service_path %>
<% end %>
</div>
