<% provide(:title, 'Главная') %>

<% content_for :description do %>
ГКУ «Краевой центр социальной защиты населения» осуществляет прием граждан по вопросам предоставления мер социальной поддержки, назначение социальных выплат, субсидии на оплату жилого помещения и коммунальных услуг, все виды пособий гражданам, имеющим  детей и др
<% end %>

<div class="hero-unit center">
  <%= render 'layouts/news_home' %>
  <%= render 'layouts/hello_home' %>
 <div class="partners">
   <%= link_to image_tag("zabzan.jpg", size: "260x62"), 'http://pgu.e-zab.ru/web/guest/main', target: "_blank" %>
   <%= link_to image_tag("gosuslugi.jpg", size: "260x62"), 'http://www.gosuslugi.ru', target: "_blank" %>
   <%= link_to image_tag("mydoc.jpg", size: "260x62"), 'http://www.mfc-chita.ru', target: "_blank" %>
 </div>
</div>
